
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: antiquewhite;
}
.header-logo {
    cursor: pointer;
    padding: 10px;
    text-align: left;
}



.navbar {
    grid-area: navbar;
    background-color: aqua;
}

.main {
    grid-area: main;
    background-color: aquamarine;
}

.sidebar {
    grid-area: sidebar;
    background-color: beige;
}

.footer {
    grid-area: footer;
    background-color: blanchedalmond;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
        "header" 100px
        "navbar" 50px
        "main" auto
        "sidebar" 100px
        "footer" 100px
}

/* Responsive para tableta, la media query funcionara cuando llegue a mas de 600 pxse cambiara el fondo a azul*/
@media (min-width: 600px) {
    .grid-container {
     grid-template:
            "header  header" 100px
            "navbar  navbar" 50px
            "sidebar main" auto
            "footer footer" 100px /200px auto
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template:
            "header header header" 100px
            "navbar main sidebar" auto
            "footer footer footer" 100px / 200px auto 200px
    }
}
